<h1>Confirme su email</h1>

<p>
    Haga click en el siguiente enlace para confirmar su email: <br><br>
    <a href="{{ signedUrl }}">Confirmar email</a>.
    Este enlace caducará en  {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Saludos
</p>
