{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title 'Hotel Royale Palace' %}

{% block main %}
    <h1>Bienvenido/a de nuevo {{app.user.nombre}}</h1>
{% endblock %}
